page-hotels {
  .hotelarea{
        padding: 8px;
  }
  .left{
      float:left;
      width: 120px;
      height: 150px;
      padding-right: 8px;
      border-right: 1px solid #e8e8e8; 
  }
  .left img{
      width: 120px;
      height: 150px;
      min-height: 130px;
      margin-bottom: 5px;
  }
  .right{
      margin-left: 120px;
      border-left: 1px solid #d8d8d8;
  }
  .right ul{
      list-style:none;
      padding: 0 10px 0px;
      margin: 0;
      font-size: 12px;
  }
  .right ul li:nth-child(1){
      text-indent: 20px;
  }
  ion-icon{
     font-size: 3.2rem;
     vertical-align: middle
  }
  .right li:nth-child(1){
     height:120px;
  }
}
